<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title$ | async }}</ion-title>
    <ion-back-button
      slot="start"
      defaultHref="home"
      text="Discover"
    ></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(result$ | async) as result">
    <ng-container *ngIf="result.data">
      <ng-container *ngFor="let view of result.data">
        <app-item-list
          [view]="view"
          (click)="onDetail(view.id)"
        ></app-item-list>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="result.error">
      <h1>Oopsie, try again later</h1>
    </ng-container>

    <ng-container *ngIf="result.loading">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ng-container>
  </ng-container>
</ion-content>
