<ion-list>
  <ion-list-header>
    <ion-label>A</ion-label>
  </ion-list-header>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    <ion-label>B</ion-label>
  </ion-list-header>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
</ion-list>
<ion-list>
  <ion-list-header>
    <ion-label>C</ion-label>
  </ion-list-header>
  <ion-item lines="none">
    <ion-label color="primary">
      <h1>I got you babe</h1>
      <h2>Subtitle</h2>
    </ion-label>
  </ion-item>
</ion-list>
